<section class="section-social-networks">
  <h2>Social Media</h2>
  <div class="social-icons">
    <ul>
      <li>
        <a href="#">
          <img src="/assets/gmail.png" alt="gmail logo">
          <span>Gmail</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/linkedin.png" alt="linkedin logo">
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/github.png" alt="github logo">
          <span>GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</section>
