@import "../../../style-variables.scss";

section{

  h2{
    font-size: 24px;
    font-weight: 500;
    color: $secondary-text-color;
  }

  p{
    margin-top: 32px;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    color: $primary-text-color;

    border-left: 7px solid #5222D0;
    padding-left: 18px;
  }
}

.dark {
  h2, p{
    color: white;
  }
}

.light {
  h2, p{
    color: inherit;
  }
}

@media (min-width: 720px){
  section{

    h2{
      font-size: 36px;
    }

  }
}
