<main class="main-section">
  <div [ngClass]="{ 'dark' : darkAndLighMode, 'light' : !darkAndLighMode }" class="main-desc">
    <span>SOFWARE DEVELOPER</span>
    <h1>Aldo</h1>

    @if (darkAndLighMode) {
      <p>Olá, meu nome é Aldo Souza, sou formado em Análise e Desenvolvimento de Sistemas. Sou desenvolvedor de software a mais de 8 meses, utilizando no meu dia a dia as linguagens/frameworks, Java, Spring Boot, Angular, Postgres, MySQL, Javascript e Typescript.</p>
    } @else{
      <p>Hello, my name is Aldo Souza, I have a degree in Systems Analysis and Development. I have been a software developer for over 8 months, using the languages/frameworks Java, Spring Boot, Angular, Postgres, MySQL, Javascript and Typescript in my daily life.</p>
    }

    <btn-primary btn-text="Download CV"></btn-primary>
  </div>
  <div class="main-animation">
    <img src="/assets/image.png">
  </div>
</main>
